<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716824944139-sforvdt6rhu43fks8k2gb9rkbi79m65b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716824944139-sforvdt6rhu43fks8k2gb9rkbi79m65b</string>
	<key>API_KEY</key>
	<string>AIzaSyCBgbb_0vrCD-rQlAUIzEnML-JNmHhlHtY</string>
	<key>GCM_SENDER_ID</key>
	<string>716824944139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anthonyh.Market</string>
	<key>PROJECT_ID</key>
	<string>market-52502</string>
	<key>STORAGE_BUCKET</key>
	<string>market-52502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716824944139:ios:f930a5d1cfd289f549310e</string>
	<key>DATABASE_URL</key>
	<string>https://market-52502.firebaseio.com</string>
</dict>
</plist>